@model AdManager.Models.Campaign

@{
    ViewBag.Title = "Удаление";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Удаление</h2>

<h3>Вы уверены, что хотите удалить данную запись?</h3>
<div>
    <h4>Кампания</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Revenue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Revenue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Budget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Budget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Currency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Currency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClickUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClickUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BannerImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BannerImageUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BannerImageWidth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BannerImageWidth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BannerImageHeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BannerImageHeight)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к списку", "Index")
        </div>
    }
</div>
