@model AdManager.Models.Campaign

@{
    ViewBag.Title = "Информация";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Информация</h2>

<div>
    <h4>Кампания</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Revenue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Revenue) @Html.DisplayFor(model => model.Currency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Budget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Budget) @Html.DisplayFor(model => model.Currency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClickUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClickUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BannerImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BannerImageUrl)
            (@Html.DisplayFor(model => model.BannerImageWidth) x @Html.DisplayFor(model => model.BannerImageHeight) px)
            <br />
            <a href="@Model.ClickUrl" target="_blank">
                <img src="@Model.BannerImageUrl" width="@Model.BannerImageWidth" height="@Model.BannerImageHeight" />
            </a>
        </dd>

    </dl>
</div>

<h4>Переходы</h4>
<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Сайт
        </th>
        <th>
           Цена
        </th>
        <th>
           Дата
        </th>
    </tr>
    @foreach (var item in Model.Clicks)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zone.Website.Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Revenue) @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateAt)
            </td>
        </tr>
    }
</table>

<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
