@model IEnumerable<AdManager.Models.Campaign>

@{
    ViewBag.Title = "Кампании";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Кампании</h2>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        @if (User.IsInRole("ADMIN"))
        {
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Revenue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Budget)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClickUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BannerImageUrl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        @if (User.IsInRole("ADMIN"))
        {
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
        }
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Revenue) @Html.DisplayFor(modelItem => item.Currency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Budget) @Html.DisplayFor(modelItem => item.Currency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClickUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BannerImageUrl)
            (@Html.DisplayFor(modelItem => item.BannerImageWidth) x @Html.DisplayFor(modelItem => item.BannerImageHeight) px)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Просмотреть", "Details", new { id = item.ID }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
