@model AdManager.Models.Zone

@{
    ViewBag.Title = "Информация";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Информация</h2>

<div>
    <h4>Зона</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WebsiteID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdPlacementWidth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdPlacementWidth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdPlacementHeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdPlacementHeight)
        </dd>

    </dl>
</div>


<h4>Переходы</h4>
<dl class="dl-horizontal">
    <dt>
        Всего переходов
    </dt>
    <dd>
        @ViewData["clicksAmount"]
    </dd>
    <dt>
        Общий заработок
    </dt>
    <dd>
        @foreach (var item in ViewBag.clicksTotalRevenue)
        {
            <span class="label label-primary">@item.Revenue @item.Currency</span>
        }
    </dd>
</dl>

<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Кампания
        </th>
        <th>
            Баннер
        </th>
        <th>
            Цена
        </th>
        <th>
            Дата
        </th>
    </tr>
    @foreach (var item in Model.Clicks)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campaign.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Revenue) @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateAt)
            </td>
            <td>
                <a href="@item.Campaign.BannerImageUrl" target="_blank">
                    Просмотреть банер
                </a>
            </td>
        </tr>
    }
</table>

<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
