@model AdManager.Models.Zone

@{
    ViewBag.Title = "Информация";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Информация</h2>

<div>
    <h4>Зона</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WebsiteID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdPlacementWidth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdPlacementWidth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdPlacementHeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdPlacementHeight)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
