@model IEnumerable<AdManager.Models.Zone>

@{
    ViewBag.Title = "Зоны";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Зоны</h2>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        @if (User.IsInRole("ADMIN"))
        {
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.WebsiteID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdPlacementWidth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdPlacementHeight)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        @if (User.IsInRole("ADMIN"))
    {
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
}
        <td>
            @Html.ActionLink(item.Website.Name, "Details", "Websites", new { id = item.WebsiteID }, new { })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdPlacementWidth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdPlacementHeight)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Просмотреть", "Details", new { id = item.ID }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
